name: check-operator-sdk-release

on:
  schedule:
    - cron: '0 9 * * *' # 18:00 JST
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: check
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          latest_version=$(curl --silent "https://api.github.com/repos/operator-framework/operator-sdk/releases" | jq -r '. | sort_by(.published_at) | reverse | .[] | select(.tag_name | test("^v[0-9]+.[0-9]+.0$") ) | .tag_name' | head -1)
          current_version=$(grep operator-sdk README.md | sed 's/.*\(v[0-9]\+.[0-9]\+.[0-9]\+\).*/\1/')
          current_minor_version=$(grep operator-sdk README.md | sed 's/.*\(v[0-9]\+.[0-9]\+\).*/\1/')
          latest_minor_version=$(echo ${latest_version} | sed 's/.*\(v[0-9]\+.[0-9]\+\).*/\1/')
          echo "current: $current_version, latest: $latest_version"
          if [ "$current_minor_version" = "$latest_minor_version" ]; then
            echo "latest minor version"
          else
            echo "new version exists"
            title="Upgrade operator-sdk to $latest_version"
            issue_cnt=$(gh issue list --search "$title" --json 'id' | jq length)
            if [ $issue_cnt -gt 0 ];then
              echo "issue already exists"
            else
              gh issue create --title "$title" --body "operator-sdk $latest_version has been released." --assignee nakamasato
            fi
          fi
