name: test

on:
  pull_request:
    # paths:
    #   - '**.go'
    #   - 'go.*'
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: set up
        uses: actions/setup-go@v3
        with:
          go-version: 1.17.9

      - uses: actions/checkout@v3

      - run: make test
